    <?xml version='1.0' encoding='utf-8'?>
    <widget id="com.veryfi.lensdemo.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>DemoApp</name>
        <description>
            A sample Apache Cordova application that responds to the deviceready event.
        </description>
        <author email="dev@cordova.apache.org" href="http://cordova.io">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="geo:*" />
        <platform name="android">
            <allow-intent href="market:*" />
            <icon density="mdpi" foreground="res/android/mipmap-mdpi/ic_launcher_foreground.png" src="res/android/mipmap-mdpi/ic_launcher.png" />
            <icon density="hdpi" foreground="res/android/mipmap-hdpi/ic_launcher_foreground.png" src="res/android/mipmap-hdpi/ic_launcher.png" />
            <icon density="xhdpi" foreground="res/android/mipmap-xhdpi/ic_launcher_foreground.png" src="res/android/mipmap-xhdpi/ic_launcher.png" />
            <icon density="xxhdpi" foreground="res/android/mipmap-xxhdpi/ic_launcher_foreground.png" src="res/android/mipmap-xxhdpi/ic_launcher.png" />
            <icon density="xxxhdpi" foreground="res/android/mipmap-xxxhdpi/ic_launcher_foreground.png" src="res/android/mipmap-xxxhdpi/ic_launcher.png"/>
        </platform>
        <platform name="ios">
            <allow-intent href="itms:*" />
            <allow-intent href="itms-apps:*" />
        </platform>
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-targetSdkVersion" value="33"/>
        <preference name="android-minSdkVersion" value="23"/>
    </widget>
